@model int

<div class="row">
	<div class="col-6">
		<input type="submit" class="btn btn-danger form-control" asp-route-Id="@Model" value="Delete" />
	</div>
	<div class="col-6">
		<a asp-action="Index" class="btn btn-primary btn-xs col-lg-12" style="margin-bottom:4px; word-wrap:break-word;">Back to List</a>
	</div>
</div>


