@model int


<div class="row">
	<div class="col-6">
		<a asp-action="Edit" asp-route-Id="@Model" class="btn btn-warning form-control">Go to Edit</a> 
	</div>
	<div class="col-6">
		<a asp-action="Index" class="btn btn-primary btn-xs col-lg-12" style="margin-bottom:4px; word-wrap:break-word;">Back to List</a>
	</div>
</div>
