@model int



<div class="col-4">
	<input type="submit" class="btn btn-info form-control" asp-route-Id="@Model" value="Update" />
</div>
<div class="col-4">
	<a asp-action="Index" class="btn btn-primary btn-xs col-lg-12 form-control" style="margin-bottom:4px; word-wrap:break-word;">Back to List</a>
</div>


